* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: arial, sans-serif;
}

header {
    background-image: url("../images/header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header > * {
    position: absolute;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    font-size: 60px;
    padding: 20px;
    top: 45%;
    width: 100%;
}