<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredients</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/ingredients.css" th:href="@{/css/ingredients.css}"/>
</head>
<body>
<div class="table">
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <tr th:each="ingredient : ${ingredients}">
            <td th:text="${ingredient.id}"></td>
            <td th:text="${ingredient.name}"></td>
        </tr>
    </table>
</div>
</body>
</html>